<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<th:block th:fragment="Header">
	    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="border-bottom: 4px solid orange;">
	        <div class="collapse navbar-collapse">
	            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item active"><a class="nav-link" th:href="@{/dashboard}">*수집 결과</a></li>
					<li class="nav-item active"><a class="nav-link" th:href="@{/setting/keyword}">*수집 키워드 등록</a></li>
					<li class="nav-item active"><a class="nav-link" th:href="@{/setting/site}">*수집 대상 뉴스 사이트 설정</a></li>
				</ul>
	        </div>
	        <div class="d-flex">
	            <button id="logoutBtn" class="nav-link btn btn-link">로그아웃</button>
	        </div>
	    </nav>
	</th:block>
</html>